.Boxs{
  position: relative;
  left: 0%;
    height: 90vh;
    background-color:rgb(185, 202, 223);
  
   
    width: 87%;
    .Box-DataGrids{
      height: 90vh;
      background-color:rgb(252, 252, 252);
     
      width: 115%;
    }
  }
  
  
  .Pr-Rows{
    background-color: rgba(179, 194, 250, 0.2);
   
  }
  .MuiDataGrid-colCellTitle {
    display: block; 
    text-align:center; 
    width: 100%; 
}

.MuiDataGrid-cell {
    display: block;
    position: relative;
    text-align: center;
}
