$sidebar-bg-color: linear-gradient(rgb(198, 227, 251),rgb(33, 150, 233))!default;
$sidebar-color: #757575 !default;
$sidebar-width: 270px !default;
$sidebar-collapsed-width: 80px !default;
$highlight-color: rgb(73, 103, 249) !default;
$submenu-bg-color: #c3e3f8 !default;
$submenu-bg-color-collapsed: #87d1f6 !default;
$icon-bg-color: #1bc6e0 !default;

@import 'react-pro-sidebar/dist/scss/styles.scss';



.navbar{
    width: 300px;
    height: 300px;
    
}

.Content-Aside{
    position: relative;
    left:400px;
}
.sidebar{
    position: absolute;


    .sidebar-Title{
        left: 19%;
        position: relative;
        left:12px;
        text-align: center;
        font-size: 1.5rem;
        font-family: sans-serif;
        text-shadow: 0px 1px 0px #000;
        width: 65%;
        height: 10%;
        
    }

}

.clock{
    position: relative;
    left: 30%;
    font-family: sans-serif;
    font-weight: bold;
    color: #757575;

}












































